/* palette */
:root {
  --main-bg: #1e1e2e;
  --main-text: #cdd6f4;
  --title1: #f38ba8;
  --title2: #fab387;
  --title3: #f9e2af;
  --title4: #a6e3a1;
  --paragraph: #313244;
  --link: #cba6f7;
  --img: #a6adc8;
  --th: #fab387;
  --td: #f9e2af;
  --t-text: #1e1e2e;

}

/* css */

html {
  color: var(--main-text);
  background-color: var(--main-bg);

  padding-inline: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-weight: bold;
}

h1 {
  color: var(--title1);
}

h2 {
  color: var(--title2);
}

h3 {
  color: var(--title3);
}

h4 {
  color: var(--title4);
}

blockquote>p {
  background-color: var(--paragraph);
  width: max-content;
  font-weight: normal;
}

img {
  background-color: var(--img);
  width: max-content;
  border-radius: 8px;
  padding: 1%;
  width: auto;
  height: auto;
}

th {
  background-color: var(--th);

}

td {
  background-color: var(--td);
}

th,
td {
  color: var(--t-text);
  font-weight: normal;
}

table {
  width: fit-content;
}

a,
a:hover,
a:visited {
  color: var(--link);
  text-decoration: none;
}